Unity_Shaders_Book/.vscode
Unity_Shaders_Book/Temp
Unity_Shaders_Book/UserSettings
Unity_Shaders_Book/Library
Unity_Shaders_Book/Logs
Unity_Shaders_Book/Packages
*.csproj
*.sln
*.meta
Unity_Shaders_Book/obj
Book
